<% include ../partials/header  %>
    <h1>DOG PROFILE</h1>

    <div>
      <h2><%= dog.name %></h2>
      <ul>
      	<li>Breed: <%= dog.breed %></li>
      	<li>About: <%= dog.about %></li>
      	<li>Owner: <%= dog.User.contactEmail %></li>
        <li><a href="/users/show/<%= dog.User.id %>">See owner profile.</a></li>
      </ul>
    </div>

<% include ../partials/footer  %>