<% include ../partials/header  %>
    <h1>USER PROFILE</h1>

    <div>
      <h2><%= user.name %></h2>
      <ul>
      	<li>Favorite Breed: <%= user.favoriteBreed %></li>
      	<li>About: <%= user.about %></li>
      	<li>Contact Number: <%= user.contactNumber %></li>
      	<li>Contact Email: <%= user.contactEmail %></li>
      </ul>
    </div>
    <div>
    <% user.Dogs.forEach(function (dog, index) { %>
    <div>
      <h2><a href="/dogs/<%=dog.id%>"><%= dog.name %></a></h2>
      <img class="profilepic" src="<%= dog.pictureUrl %>">
    </div>
    <% }) %>

<% include ../partials/footer  %>

